body {
  padding: 0;
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  background: linear-gradient(to bottom right, #232222fc, #a343cc);
  height: 100vh;
  overflow: hidden;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  background: white;
  border-radius: 30px;
}
.main h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1.5px solid silver;
  color: #644d64;
}
.main form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .auth {
  position: relative;
  border-bottom: 2px solid #adadad; 
  margin: 30px 0;
}
.auth input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.auth label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.auth span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.auth input:focus ~ label,
.auth input:valid ~ label {
  top: -5px;
  color: #2691d9;
}
.auth input:focus ~ span::before,
.auth input:valid ~ span::before {
  width: 100%;
}
.repair {
  margin: -5px 0 20px 5px;
  color: #c384ff;
  cursor: pointer;
}
.repair:hover {
  text-decoration: underline;
}
input[type='submit'] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  border-radius: 25px;
  background: #c384ff;
  font-size: 18px;
  color:#ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type='submit'] {
  border-color: #a53bcf;
  transition: .5s;
}
.reg {
margin: 30px 0;
text-align: center;
font-size: 16px;
color: #666666;
}
.reg a {
  color:#c384ff;
  text-decoration: none;
}
.reg a:hover {
  text-decoration: underline;
}
#footer {
    position: fixed; /* Фиксированное положение */
    left: 0%; bottom: 0; /* Левый нижний угол */
    color: #666666; /* Цвет текста */
    width: 100%; /* Ширина слоя */
   }
   #footer div {
    padding: 10px; /* Поля вокруг текста */
    background: #c384ff; /* Цвет фона */
   }

#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
}