<!DOCTYPE html>

<html lang='ru'>
  <head>
  <meta charset='utf8'>
<title>Best Hack'22 || Authorization</title>
<link rel='stylesheet' href='static/style.css'>
</head>

<body>
<div class='main'>
  <h1>Authorization</h1>
<form method='post' action=''>
<div class='auth'>
<input type='email' required>
<span></span>
<label>Input your email</label>
  </div>

  <div class='auth'>
<input type='password' required>
<span></span>
<label>Enter your password</label>
    </div>
    <div class='repair'>Forgot your password?</div>
<input type='submit' value='Вход'>
<div class='reg'> 
  Don't have an account? <a href='register'>Join now</a><br><br>
  <span>Best Hack'22 <br> Команда: Удальцы </span>
</div>
</form>
</div>




</body>





</html>
