{% extends 'base.html' %}

{% block content %}
{{super() }}
<link rel="script" href='static/js/password.js'>
<div class='main'>
  <h1>Authorization</h1>
<form method='post' action=''>
<div class='auth'>
<input type='email' required>
<span></span>
<label>Input your email</label>
  </div>

  <div class='auth'>
<input type='password' required>
<span></span>
<label>Enter your password</label>
    </div>
    <div class='repair'>Forgot your password?</div>
<input type='submit' value='Вход'>
<div class='reg'> 
  Don't have an account? <a href='register'>Join now</a><br><br>
</div>
</form>
</div>
{% endblock %}