{% extends 'base.html' %}

{% block content %}
{{super() }}
<div class='main'>
  <h1>Registration</h1>
<form method='post' action='auth.html'>

<div class='auth'>
<input type='text' required id='name' name='name'>
<span></span>
<label>Login</label>
  </div>

<div class='auth'>
<input type='email' required id='email' name='email'>
<span></span>
<label>Your mail</label>
  </div>

    <div class='auth'>
<input type='password' required id='passwd' name='password' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", maxlength="10", minlength="6" required/>


<span></span>
<label>Enter password</label>
    </div>
  <div class='auth'>
<input type='password' required id='passwd1' name='password'>
<span></span>
<label>Repeat password</label>
    </div>
    
<input type='submit' value='Submit'>
<div class='reg'>
  Already have an account? <a href='/'>Sign in</a>
</div>
</form>
</div>
{% endblock %}
